
/* ------ ALL PAGES --------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

body{
	background-color: #EBF7FF;
	}
	
header{
	display: flex;
	margin: auto;
	width: 90%;
	height: 15vh;
	align-items: center;
	}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
	
nav {
	flex: 1;
}
.nav-links {
	justify-content: center; /*EVENLY SPACES LINKS*/
	list-style: none;
	text-transform: uppercase;
}

.link {
	text-decoration: none;
	color:#4C5F6B;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 25px auto;
	padding: 30px ;
	list-style: none;
	font-size: 23px;
}

.logo-container, .nav-links{
	display: flex;
}

.logo-container{
	flex: 1;
}
	
.burger{
	display: none;
	cursor: pointer;
	padding: 15px;
	right: 0;
	top: 25px;
}

.burger div{
	width: 25px;
	height: 4px;
	background-color:  #A96736;
	margin: 3.5px;
}


/* FONT ASSIGNMENTS */

.welcome, .WIK, .WIB, .dev, .thx{ /*Headers*/
	font-family: 'Playfair Display', serif;
}

.ps,.intro1, .intro2, .devpara, .wmp, p, .thanks {
	font-family: 'Open Sans', sans-serif;
}

	
/*  ------- HOME ------- */
.logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
.introduction {
	max-width: 700px;
	text-align: center;
	margin: auto;
}

.welcome {
	background-color: #4C5F6B;
	color: white;
	word-spacing: 10px;
	border-radius: 20px;
	}
	
.ps {
	font-size: 18px;
	}

	
/*  ------- ABOUT  --------*/

.about{
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 50vh;
	align-items: center;
}

/* Download Resume Button */
.downloadres{
	text-align: center;
	padding: 30px 0px 0px 0px;
	}

.resumebutton {
	display: inline-block;
	padding: 10px;
	width: 230px;
	border-radius: 80px;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	background: none;
	border-color: black;
	color: black;
	}

/* ---- What I Know ------ */
.about1 {
	width: 700px;
	max-height: 300px;
	padding: 20px 30px 10px 10px;
	}

.WIK {
	background-color: #4C5F6B;
	color: white;
	text-align: center;
	word-spacing: 10px;
	border-radius: 20px;

	}
	
.intro1 {
	text-indent: 50px;
	font-size: 15px;
	line-height: 35px;
	}
	
	/* ------- What I Bring ------- */
.about2 {
	width: 700px;
	max-height: 300px;
	padding: 34px 10px 10px 30px;
	}
	
.WIB {
	background-color: #4C5F6B;
	color: white;
	text-align: center;
	word-spacing: 10px;
	border-radius: 20px;
	}
	
.intro2 {
	text-indent: 50px;
	font-size: 15px;
	text-align: left;
	line-height: 35px;
	}
	

	
/* -------- PROJECTS PAGE -------*/

/* Development Section */
.DEV {
	max-width: 90%;
	margin: auto;
	height: 250px;
	border: 50px;
	padding: 30px;
	}

/* Section Titles */
.dev {
	background-color: #4C5F6B;
	color: white;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 10px;
	border-radius: 20px;
	}

/* Paragraphs */
.devpara , .wmp {
	font-size: 15px;
	}

/* Personal Site */
.website {
	width: 450px;
	height: 200px;
	float: left;
	padding-top: 10px;
	margin-left: 40px ;
	text-align: center;
	}
	
/* Logo Links */
.github {
	width: 100px;
	height:100px;
	cursor: pointer;
	}

/* Where's My Professor */
.WMP {
	width: 500px;
	height: 200px;
	float: right;
	padding-top: 10px;
	margin-right: 10px ;
	text-align: center;
	}

/* Graphic Design */
.GD {
	max-width: 90%;
	margin: auto;
	border: 50px;
	padding: 30px;
	text-align: center;
	}
	
.RedBubble {
	width: 470px;
	height: 100px;
	padding-top: 20px;
	margin: auto;
	text-align: center;
}
.shoplink {
	text-decoration: none;
	color: #85856b ;
	cursor: pointer;
}
.shoplink:visited {
	color: #A96736;
}

.slideshow {
	max-width: 500px;
	position: relative;
	margin: auto;
}





/* ----- CONTACT PAGE ------ */

.contact{
	max-width: 600px;
	margin: auto;
}

.thank-you {
	margin: 50px auto;
	}
	
/* Thanks Title */
.thx {
	text-transform: uppercase;
	padding: 10px;
	background-color: #4C5F6B;
	color: white;
	text-align: center;
	word-spacing: 10px;
	border-radius: 20px;
	}
.thanks{
	width: 90%;
	margin: auto;
	padding-top: 15px;
	text-align: center;
}
	
/* Email Button */
.email-button {
	display: inline-block;
	padding: 10px;
	width: 130px;
	margin-left: 25%;
	border-radius: 80px;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	background: none;
	border-color: black;
	color: black;
	}

	
/* LinkedIn Button */
.lin-button {
	display: inline-block;
	top: 50%;
	padding: 10px;
	width: 130px;
	border-radius: 80px;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	background: none;
	border-color: black;
	color: black;
	}


@media screen and (max-width: 1180px){


	.DEV {
		flex-direction: column;
		align-items: center;
	}
	.website , .WMP{
		width: 95%;
		margin: 15px;
	}

	.GD{
		flex-direction: column;
		width: 90%;
		margin-top: 230px;
		text-align: center;
	}
	.about{
		flex-direction: column;
	}

	.about1{
		width: 95%;
	}
	.about2{
		width: 95%;
		margin-left: -35px;
	}
}

	/* IPHONE */
@media screen and (max-width: 414px){

	.burger{
		display: block;
		position: absolute;
	}
	#burger{
		display: none;
	}
	nav :checked ~ .nav-links{
		bottom: 0;
	}
	.nav-links{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 70px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: #A5A58D;
		opacity: .95;
		text-align: center;
		justify-content: space-around;
		overflow: hidden;
		transition: .5s ease;
	}
	.link {
		font-size: 35px;
		color: #FFF1E6;
	}

	.introduction{
		margin: auto;
		padding: 15px;
	}

	.about{
		flex-direction: column;
	}

	.about1{
		width: 95%;
		margin-bottom: 100px;
		text-align: left;
	}
	.about2{
		width: 95%;
		margin-left: -35px;
		margin-bottom: 10px;
		text-align: left;
	}

	.DEV {
		flex-direction: column;
	}
	.website , .WMP{
		flex-direction: column;
		width: 90%;
		margin: 10px 15px 0px 20px;
	}

	.GD{
		flex-direction: column;
		width: 90%;
		text-align: center;
	}
		
	.RedBubble {
		width: 90%;
		height: 120px;
		padding-top: 20px;
		margin: auto;
		text-align: center;
	}

	.slideshow {
		width: 280px;
		position: relative;
		margin: auto;
	}







	.contact{
		margin: auto;
		padding: 15px;
	}
	.email-button {
		display: inline-block;
		padding: 10px;
		width: 110px;
		margin-left: 15%;
		border-radius: 80px;
		font-size: 16px;
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		background: none;
		border-color: black;
		color: black;
		}
	.lin-button {
		display: inline-block;
		top: 50%;
		padding: 10px;
		width: 110px;
		border-radius: 80px;
		font-size: 16px;
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		background: none;
		border-color: black;
		color: black;
		}
}
